---
# Front matter for jekyll
---


.poem-excerpt {
  margin: auto;
  padding: 2em;
  background-color: #efefff;
  color: #223843;
}

.poem-title {
  font-style: italic;
}

.horizontal-blank-space {
  display: block;
}

.variable-length-dash {
  display: inline-block;
  background-color: #a1b5d8;
  vertical-align: middle;
  height: 0.06em;
}

.centered-item-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

svg {
    /* width: 100%; */
    /* max-height: 100%; */
}