---
layout: page
title: A Short While
permalink: /projects/a-short-while
---

<figure>
<img src="/img/projects/a-short-while/workshop.webp"
     alt="A wooden box with a microphone sticking out of it pointing out a workshop window" />
<figcaption>
  In my workshop
</figcaption>
</figure>

<p>
  <i>A Short While</i> is a sound installation which freezes moments in time. It listens for sounds in its environment and selects some to capture, slow down, and play back. It was made in collaboration between myself and <a href="https://www.jonahudall.com/">Jonah Udall</a>.
</p>

<p>
  It was installed in front of the <a href="http://beta.leimay.org">LEIMAY dance ensemble</a>'s Williamburg studio for much of 2021. To install it we mounted the microphone and speaker to the frame of their second-floor window, keeping the box and electronics secured inside the window. While installed it often captured sounds of traffic, passerbys, airplanes, birds, and of course, LEIMAY's windchime!
</p>

<figure>
  <div class="youtube-embed-wrapper">
    <iframe width="100%" src="https://www.youtube.com/embed/vgH3iyL50qo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
<figcaption>
  A documentation video made by Jonah.
</figcaption>
</figure>

<figure>
<img src="/img/projects/a-short-while/at-cave.webp"
     alt="A sidewalk view of the dance studio CAVE with a microphone and speaker mounted on a second-floor window. A windchime is not far from the microphone." />
<figcaption>
  Installed at CAVE.
</figcaption>
</figure>

<p>
  The installation mostly fits in a wooden box Jonah made. A microphone peeks out of a hole in the front while a speaker wire runs out the side. It requires just one power cable connection. Inside is a Raspberry Pi, a small USB audio interface for the microphone, and a preamp for the speaker. The whole thing is designed to be weather-proof, though this hasn't yet been battle tested.
</p>

<p>
  The software running on the Pi builds on my <a href="https://github.com/ajyoon/rocoder">Rocoder</a> library. <a href="https://github.com/ajyoon/a_short_while">Its source code is available here.</a> The program is very configurable so it can be easily "tuned" in the field to fit different environments and noise considerations.
</p>

<figure>
<img src="/img/projects/a-short-while/workshop-with-cat.webp"
     alt="The poetron on a workshop table with a tuxedo cat behind it" />
<figcaption>
  In the workshop with my cat Bap. Don't worry, the window screen is closed!
</figcaption>
</figure>
