---
layout: page
title: The Poetron
permalink: /projects/poetron
---

<p>
  The poetron is an interactive poem-generating installation. Housed in a small wooden box, it generates and prints new versions of poems on receipts for visitors to take home. The poetron has been installed in a variety of contexts, including short term events and extended gallery displays.
</p>


<figure>
  <img src="/img/projects/poetron/nyc_anarchist_bookfair.webp"
       alt="The poetron installed in a garden gazebo surrounded with streamers of receipts blowing in the wind" />
  <figcaption>
    At the 2021 NYC Anarchist Bookfair
  </figcaption>
</figure>

<figure>
  <img src="/img/projects/poetron/in_workshop.webp"
       alt="The poetron in my workshop surrounded by test print receipts" />
  <figcaption>
    In the workshop
  </figcaption>
</figure>

<p>
  In each installation I set up the poetron to generate new realizations of a particular chance poem. At its <a href="https://www.cjonegallery.com/">CJ. One</a> installation it was set up with my chance poem <a href="/blog/other-kinds-of-mirrors.html">Other Kinds of Mirrors</a>. At events featuring <a href="/waitc">my book of chance poems</a>, I typically set it up to generate versions of <a href="https://weareinvitedtoclimb.org/#we-are-invited-to-climb">the book's title poem</a>. I like to encourage visitors to generate a few poems so they can compare them and get a feeling for the wider nature of chance poetry.
</p>

<p>
  Under the hood, the poetron consists of a Raspberry Pi, an arcade button USB interface, and a receipt printer. The Pi is programmed to listen for button presses, and when they are received generate poems and print them out. <a href="https://gitlab.com/ajyoon/poetron">The (highly disorganized) source code is available here</a>.
</p>

<p>
  While the poetron can be programmed to generate poems using any method, every installation to date has been with a poem written in my <a href="https://bml-lang.org/">chance text programming language, BML</a>.
</p>

<figure>
  <div class="youtube-embed-wrapper">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/QjDiIrFQpAI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
<figcaption>
  A walkthrough of the 2021 NYC Anarchist Bookfair installation (apologies for vertical video...)
</figcaption>
</figure>


<figure>
<img src="/img/projects/poetron/nyc_anarchist_bookfair_closeup.webp"
     alt="A closeup of the poetron in the gazebo with a printed poem hanging out of it" />
<figcaption>
  At the 2021 NYC Anarchist Bookfair
</figcaption>
</figure>

<figure>
<img src="/img/projects/poetron/cjone.webp"
     alt="The poetron installed at CJ One gallery" />
<figcaption>
  On display at <a href="https://www.cjonegallery.com/">CJ. one Gallery</a> in a group show with <a href="http://digianagroup.com/">DigiAna</a>.
</figcaption>
</figure>
