---
layout: page
permalink: /about
---

<picture class="bio-image">
  <source media="(min-width: 40em)"
          srcset="/img/headshot-100pc.jpg">
  <img src="/img/headshot-50pc.jpg">
</picture>
<p>
  I'm an NYC-based Korean-American he/him artist currently involved with writing <a href="https://weareinvitedtoclimb.org">poems that change</a>, playing <a href="https://mdbq.org">melodica</a>, <a href="https://neoscore.org/">building graphical music notation software</a>, and running the generative poetry focused small press, <a href="https://nothing-to-say.org">Nothing to Say</a>.
</p>
<p>
  I believe in a world without artificial scarcity and I'm an advocate for <a href="https://www.gnu.org/philosophy/free-sw.html">free software</a> and art; everything I make outside the day job is under copyleft licenses.
</p>

{% include mailing-list.html %}
