---
layout: null
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    {% include header.html %}
    <main class="page-content" aria-label="Content">
          
      {% include work_highlights.html %}

      <div class="centered-wrapper">

        <div class="home">

          <div id="index-body-mailing-list">
            {% include mailing-list.html %}
          </div>

          <h1>upcoming events</h1>
          <ul class="events-list" id="upcoming-events">
          </ul>
          {% include eventProvider.html %}
          <h4><a href="/events">more...</a></h4>
          
          <h1>recent posts <a href="/feed.xml"><span class="icon">{% include icon-rss.svg %}</span></a>
          </h1> 
          {% include postList.html postLimit=2 %}
          <h4><a href="/blog">more...</a></h4>
          
          <!-- <h1>recent projects & recordings</h1>
               <ul class="work-list">
               {% for item in site.data.work.works limit:6 %}
               <li>
               <h4 class="work-title"><i>{{ item.title }}</i> - {{ item.date }}
               </h4>
               <h5>
               {% for link in item.links %}
               | <a href="{{ link.location }}" target="_blank">{{ link.name }}</a>
               {% endfor %}
               </h5>
               <p>
               {{ item.description }}
               </p>
               </li>
               {% endfor %}
               </ul>
               <h4><a href="/work">more...</a></h4> -->

        </div>

        {% include eventProvider.html %}
        <script>
         provideEvents(false);
        </script>
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>


