---
layout: page
title: friends and admirees
permalink: /links
---

<h3>a randomly ordered enormously incomplete list of artists, organizations, venues, etc i think are great</h3>


<h4>humans</h4>

<ul class="random-order-list">
  <li><a href="https://www.sequoiasellinger.com/">sequoia sellinger</a></li>
  <li><a href="https://www.felixjarrarmusic.com">felix jarrar</a></li>
  <li><a href="http://www.jonahudall.com/">jonah udall</a></li>
  <li><a href="http://www.nickdunston.org/">nick dunston</a></li>
  <li><a href="https://natalie.computer/">natalie braginsky</a></li>
  <li><a href="https://www.cattoren.com/">cat toren</a></li>
  <li><a href="https://melodyloveless.com">melody loveless</a></li>
  <li><a href="http://davidlu.me">david lu</a></li>
  <li><a href="https://shekerjian.com/">eric shekerjian</a></li>
  <li><a href="https://www.zacharyjamesritter.com/">zachary james ritter</a></li>
  <li><a href="https://darianthomas.myportfolio.com/">darian thomas</a></li>
  <li><a href="https://decomposedblog.wordpress.com/">lili tobias</a></li>
  <li><a href="https://soundcloud.com/slimechurch">coco walsh</a></li>
  <li><a href="https://instagram.com/larangoclan">lara lewison</a></li>
  <li><a href="https://www.chibuihe.com/">chibuihe obi achimba</a></li>
  <li><a href="http://charstiles.com/">char stiles</a></li>
  <li><a href="https://morrisongong.com/">morrison gong</a></li>
  <li><a href="https://www.maryheeyoon.com/">maryhee yoon</a></li>
  <li><a href="http://www.loisafenichell.com/">loisa fenichell</a></li>
  <li><a href="https://pinknoise.home.blog">ben bisogno</a></li>
</ul>

<h4>organizations</h4>

<ul class="random-order-list">
  <li><a href="https://recurse.com">the recurse center</a></li>
  <li><a href="https://mdbq.org">the melodica drone and bach quartet</a></li>
  <li><a href="https://nothing-to-say.org">nothing to say</a></li>
  <li><a href="https://www.dancetothepeople.org/">dance to the people</a></li>
  <li><a href="https://www.echoensemble.com">echo ensemble</a></li>
  <li><a href="https://angrycomposers.org">angry composers</a></li>
  <li><a href="http://synesthesia.space/">synesthesia</a></li>
  <li><a href="https://www.mirrorinthewoods.com/">mirror teahouse</a></li>
  <li><a href="http://bluestockings.com">bluestockings</a></li>
  <li><a href="https://livecode.nyc">livecode.nyc</a></li>
  <li><a href="https://babycastles.com/">babycastles</a></li>
  <li><a href="https://nmbx.newmusicusa.org">newmusicbox</a></li>
  <li><a href="https://jrpgcombatsystems.itch.io/">jrpg combat systems</a></li>
  <li><a href="https://fsf.org">the free software foundation</a></li>
  <li><a href="https://www.mozilla.org">mozilla</a></li>
</ul>
