---
layout: page
title: We Are Invited to Climb
permalink: /waitc
---
<a href="https://awst-press.com/shop/we-are-invited-to-climb">
  <img src="/img/we-are-invited-to-climb/wires.jpg"
       alt="a small pocketbook of poems titled &quot;We Are Invited to Climb&quot;"
       title="Image by Phoebe Waldron" />
</a>
<p>
  <b>Published by <a href="https://awst-press.com/">Awst Press</a> on September 7, my debut collection of chance poetry is <a href="https://awst-press.com/shop/we-are-invited-to-climb">now available!</a></b>
</p>
<blockquote>
  We Are Invited to Climb is a collection of partly computer-generated chance poems exploring “the bigandsmall.” At once a celebration of the impossible and the very real, the poems are made of refrigerator hums and upside-down kites. Watercolor stains and valleypeaks. Written using groundbreaking new techniques in generative poetry, the world Yoon creates reckons with contradiction: the sameness of other and self, choice and constraint, sense and nonsense. Through whimsy and experimentation, Yoon taps into the depths of humanity—the algorithm we all share.
</blockquote>
<p><a href="//weareinvitedtoclimb.org"><b>Generate your own version of the book with the free live-generating edition here!</b></a></p>
<h2>praise for <i>We Are Invited to Climb</i></h2>
<figure class="promo-quote">
  <blockquote>
    In Andrew Yoon’s hands, language transforms into a lush and incandescent springhead, inexhaustible in what it can become. With their inventiveness and bohemian bluster, these poems reject the syntactic limits we’ve placed on our interactions with each other. Andrew's collection is a movable feast: small enough to fit into the breast pocket of a shirt and warm enough to stay there for the length of a trip.
  </blockquote>
  <figcaption>
    —<a href="https://www.chibuihe.com/">Chibuihe Obi Achimba</a>, author of <a href="https://damagedgoodspress.com/product/hallowed-by-chibuihe-achimba/"><i>Hallowed</i></a>
  </figcaption>
</figure>
<figure class="promo-quote">
  <blockquote>
    ...Andrew Yoon’s chance poems challenge the very notion of writing-as-product or book-as-object, as they shift and shimmy, refusing to solidify into anything other than vast possibility.
  </blockquote>
  <figcaption>
    —<a href="http://writing.quotidiana.org/">Patrick Madden</a>, author of <a href="https://www.nebraskapress.unl.edu/nebraska-paperback/9780803249240/"><i>Quotidiana</i></a> and <a href="https://www.nebraskapress.unl.edu/nebraska/9781496202444/"><i>Disparates</i></a>
  </figcaption>
</figure>
<figure class="promo-quote">
  <blockquote>
    Andrew Yoon's astonishing book, We Are Invited to Climb, is that rare human document that invites his readers to wonder and to startle and to be alive anew. Through the alchemy of his dear art, the whole world becomes a poem as if for the very first time.
  </blockquote>
  <figcaption>
    —<a href="https://www.robertvivian.org/">Robert Vivian</a>, author of <a href="https://www.nebraskapress.unl.edu/nebraska/9781496220332/"><i>All I Feel Is Rivers</i></a>
  </figcaption>
</figure>
<figure class="promo-quote">
  <blockquote>
    These particular poems invite us up with their observations, questions, and daydreams—and they are just instances of a wider poetic possibility that Andrew Yoon has programmed.
  </blockquote>
  <figcaption>
    —<a href="https://nickm.com/">Nick Montfort</a>, author/programmer of <a href="https://deadalivemagazine.com/press/golem.html"><i>Golem</i></a>
  </figcaption>
</figure>

<h2><a href="//weareinvitedtoclimb.org">Explore the free live-generating edition</a> and <a href="https://awst-press.com/shop/we-are-invited-to-climb">buy your copy today!</a></h2>
