---
layout: default
title: Andrew Yoon's Projects
---

{% include sidebar.html %}

<h1>projects</h1>

<p>
  This list is very out of date. See the homepage for more recent projects :)
</p>

<ul class="work-list">
  {% for item in site.data.work.works %}
    <li>
      {% assign work_id = item.title | url_encode %}
      <a href="#{{ work_id }}"><h4 class="work-title" id="{{ work_id }}"><i>{{ item.title }}</i>—{% if item.duration %}<i>({{ item.duration }})</i>—{% endif %}{{ item.date }}
      </h4>
      </a>
      {% for link in item.links %}
        | <a href="{{ link.location }}" target="_blank">{{ link.name }}</a>
      {% endfor %}
      <p>
        {{ item.description }}
      </p>
    </li>
  {% endfor %}
</ul>
