<footer class="site-footer">

  <div class="centered-wrapper">
    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-1">
        {% include social-media-list.html %}
      </div>

      <div class="footer-col footer-col-2">
          <ul class="contact-list">
              <li>andrew [at] nothing-to-say.org</li>
          </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>except where otherwise noted, this website and blog are dedicated to the public domain with a <a rel="license" href="https://creativecommons.org/publicdomain/zero/1.0/">creative commons 0</a> license; no rights reserved.</p>
        <p><a href="https://gitlab.com/ajyoon/andrewyoon.net">steal this site</p>
      </div>
    </div>

  </div>

</footer>

<!-- Matomo -->
<script type="text/javascript">
 var _paq = _paq || [];
 /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
 _paq.push(['trackPageView']);
 _paq.push(['enableLinkTracking']);
 (function() {
   var u="https://www.weaccidentallyimagine.com/analytics/piwik/";
   _paq.push(['setTrackerUrl', u+'piwik.php']);
   _paq.push(['setSiteId', '2']);
   var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
   g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
 })();
</script>
<!-- End Matomo Code -->

{% if page.custom_foot_js %}
  <!-- Page-specific js -->
  {% for js_file in page.custom_foot_js %}
    <script src="/js/{{ js_file }}" type="text/javascript"></script>
  {% endfor %}
{% endif %}

{% if page.enable_bigfoot == true %}
  <!-- Bigfoot.js for fancy footnotes -->
  <link rel="stylesheet" href="/css/bigfoot-default.css" media="screen" type="text/css">
  <script type="text/javascript" src="/js/bigfoot.min.js"></script>
  <script type="text/javascript">
    var bigfoot = $.bigfoot(
      {
          actionOriginalFN: "hide",
          positionContent: "true"
      }
    );
  </script>
{% endif %}
