<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}Andrew Yoon - Writer, Musician, Programmer{% endif %}</title>
  <meta name="og:title" content="{% if page.title %}{{ page.title | escape }}{% else %}Andrew Yoon - Writer, Musician, Programmer{% endif %}">
  <meta name="description" content="{{ page.description | default: site.description }}">
  <meta name="og:description" content="{{ page.description | default: site.description }}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  {% if page.image %}
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="og:image" content="{{ page.image | absolute_url }}" />
  <meta name="twitter:image" content="{{ page.image | absolute_url }}" />
  {% else %}
  <meta name="twitter:card" content="summary" />
  {% endif %}
  

  {% if page.custom_css %}
    <!-- Page-specific css  -->
    {% for stylesheet in page.custom_css %}
      <link rel="stylesheet" href="/css/{{ stylesheet }}" media="screen" type="text/css">
    {% endfor %}
  {% endif %}

  <script src="/js/random_design.js" type="text/javascript"></script>

  {% if page.custom_head_js %}
    <!-- Page-specific js -->
    {% for js_file in page.custom_head_js %}
      <script src="/js/{{ js_file }}" type="text/javascript"></script>
    {% endfor %}
  {% endif %}

</head>
