<picture class="hero">
  <img id="hero-img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mN04xX6DwACbAFmcqmzhQAAAABJRU5ErkJggg=="  style="height: 85vh">
</picture>

<script>
 var splashImage = shuffleArray([
   {name: 'piano-piece-1', title: 'piano at mirror teahouse with nyccc', alt: 'andrew playing piano'},
   {name: 'piano-piece-2', title: 'piano at mirror teahouse with nyccc', alt: 'andrew playing piano'},
   {name: 'rc-algorave', title: 'melodicas and computer at an algorave at the recurse center / photo by dan gorelick', alt: 'andrew playing melodica on stage'},
   {name: 'poetron', title: 'the poetron', alt: 'a poem-generating installation'},
   {name: 'basement-gallery', title: 'spectrophone at the basement gallery', alt: 'a painting sound installation'},
   {name: 'hearthland-1', title: 'free as in reeds, live at hearthland / photo by nicole davis', alt: 'playing in front of a projection'},
   {name: 'hearthland-2', title: 'free as in reeds, live at hearthland / photo by nicole davis', alt: 'playing in front of a projection'},
 ])[0];
 var imageElement = document.getElementById("hero-img");
 imageElement.src = '/img/splashes/' + splashImage.name + '-100pc.jpg';
 imageElement.alt = splashImage.alt;
 imageElement.title = splashImage.title;
 imageElement.style = '';
</script>
