<p>
The best way to keep up with what I'm doing is my mailing list.
</p>
<script async src="https://eomail6.com/form/d7677d70-e273-11ee-89da-d798fe45da6f.js" data-form="d7677d70-e273-11ee-89da-d798fe45da6f"></script>
<style>
 #index-body-mailing-list .text-center,
 .inline-container .text-center
 {
   display: none;
 }
</style>
