<ul class="post-list">
  {% for post in site.posts limit: include.postLimit %}
  {% if post.public == true %}
  <li>
    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" | downcase }}{% if post.category %} / {{post.category}}{% endif %}</span>

    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
    {% if post.description %}
    <span class="post-description">{{ post.description }}</span>
    {% endif %}
  </li>
  {% endif %}
  {% endfor %}
</ul>
