<ul class="social-media-list">
  <!-- Used to have a link to a mailing list signup, but I don't have
  a dedicated signup page for the new mailing list yet. -->
  <!-- {% unless include.exclude_mailing_list %}
       <li>{% include icon-email.html %}</li>
       {% endunless %} -->
  <li>{% include icon-instagram.html %}</li>
  <li>{% include icon-youtube.html %}</li>
  <li>{% include icon-bandcamp.html %}</li>
  <li>{% include icon-github.html %}</li>
  <li>{% include icon-gitlab.html %}</li>
</ul>
