<!-- Work highlights for landing page

a responsive grid with images, titles, descriptions
-->


<div class="work-highlights-wrapper">
  <!-- <h1>~highlights~</h1> -->
<div class="work-highlights-list">
  {% for entry in site.data.work_highlights %}
  <div class="work-highlight">
    <a href="{{ entry.link }}" {% if entry.new_tab %}target="_blank"{% endif %}>
      <img src="/img/work-thumbnails/{{ entry.image }}"
        alt="{{ entry.alt_text | xml_escape }}" />
      <h3>{{ entry.title }}</h3>
    </a>
    <p>{{ entry.description }}</p>
  </div>
  {% endfor %}
</div>
</div>
