// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$blog-base-font-size: 17px;

$spacing-unit:     30px;

$text-color:       #111;
// $background-color: #f6f2f2;
$background-color: #fdfdfd;
$brand-color:      #e2402a;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
$grey-color-very-dark:  darken($grey-color, 40%);

// Width of the content area
$content-width:    800px;

$on-tiny:          500px;
$on-palm:          600px;
$on-laptop:        800px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .centered-wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting";
