/**
 * Site header
 */
.site-header {
    background: $grey-color-very-dark;
    border-top: 5px solid darken($brand-color, 10%);
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 20px;
    font-weight: 300;
    line-height: 56px;
    margin: 0 2em 0 0;
    float: left;

    &,
    &:visited {
        color: $background-color;
    }

    &:hover {
        color: $background-color
    }

    display: block;

    @include media-query($on-laptop) {
        display: none;
    }
}

.site-title-short {
    @extend .site-title;
    display: none;
    
    &,
    &:visited {
        color: $background-color;
    }

    &:hover {
        color: $background-color
    }


    @include media-query($on-laptop) {
        display: block;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $background-color;
        line-height: $base-line-height;
        transition: all 0.2s;
        border-bottom: 1.5px solid transparent;

        text-decoration: none;

        // Gaps between nav items, but not on the last one
        padding: 0 6px;
        margin: 0 6px;

        &:hover {
          border-color: $brand-color;
        }
    }

    @include media-query($on-tiny) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .page-link {
            color: $grey-color-dark;
        }

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    font-size: 15px;
    color: $grey-color;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

/**
 * Sticky Sidebar
 */
.sticky-sidebar {
  display: none;
}
// existing media queries are kind of messed up,
// so i use a bespoke one here for wide displays
@media screen and (min-width: 1600px) {
  .sticky-sidebar {
    display: block;
    width: $spacing-unit * 8;
    position: fixed;
    margin-left: $spacing-unit * -12;
  }
}

// At least while book promo splash is on the home page,
// the rest of the home content needs a little space
.home {
  padding-top: $spacing-unit / 2;
}

 /**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit / 2;
        padding-bottom: $spacing-unit / 2;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.post-description {
    font-style: italic;
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

blockquote {
  color: $grey-color-dark;
}

.promo-quote {
  figcaption {
    text-align: right;
    font-size: $base-font-size;
    font-weight: bold;
  }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        border-bottom: 2.5px solid $brand-color;
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    p {
        color: $grey-color-very-dark;
        font-size: $blog-base-font-size;
    }

    // similar to block quote
    .poem {
      color: $grey-color;
      border-left: 4px solid $grey-color-light;
      padding-left: $spacing-unit / 2;
      margin-left: 20%;
      margin-right: 20%;
      font-size: 18px;
      letter-spacing: -1px;

      @include media-query($on-palm) {
        margin-left: inherit;
        margin-right: inherit;
      }
    }

}


/**
 * Works and Words indices
 */
.work-list, .post-list {
   list-style: none;
   li {
     border-bottom: 2px $grey-color-light solid;
   }
 }

a > .work-title {
  color: $text-color;
  margin-bottom: 0;
}


/**
 * bio
 */
.bio-image {
  position: relative;
  width: 50%;
  float: right;
  margin: 0;
  padding: 0 0 2em 1em;
}

/**
 * Hero Image
 */
.hero {
    @include media-query($on-palm) {
      display: none;
    }
  width: 100%;

  img {
    object-fit: none;
    width: 100%;
    max-height: 85vh;
  }
}


/**
 * Mailing List Signup Form
 */
.mailing-list-form {
  margin-top: $spacing-unit / 2;
  margin-bottom: $spacing-unit / 2;
  .flex-wrapper {
    display: flex;
    flex-wrap: wrap
                 input {
      flex-basis: 40%;
    }
  }
}

/**
 * Images
 */
.img-wrapper {
    text-align: center;
}


/**
 * Work highlight grid
 */
.work-highlights-wrapper {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.work-highlights-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  // Hack to make first flex row have no upper margin.
  margin-top: $spacing-unit / -2;

  .work-highlight {
    margin: $spacing-unit / 2;
    padding: $spacing-unit / 2;
    transition: box-shadow 0.15s;
    box-shadow: 5px 5px 12px 0px #EBEBEB;
    width: 20%;
    @include media-query($on-palm) {
      width: 100%;
    }

    &:hover {
      box-shadow: 5px 5px 12px 0px #CCC;
    }

    img {
      margin-bottom: $spacing-unit / 2;
    }
  }
}

// Make embedded youtube videos responsively sized
// Courtesy of https://techstacker.com/how-to-responsive-youtube-videos/

.youtube-embed-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.youtube-embed-wrapper::after {
  display: block;
  content: "";
  padding-top: 56.25%;  // Magic number for youtube's aspect ratio
}

.youtube-embed-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
