---
layout: default
custom_head_js:
- bml.bundle.js
---
<script src="/js/bml.bundle.js" type="text/javascript"></script>

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" | downcase }}</time>{% if page.category %} / {{page.category}}{% endif %}{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody" id="bml-target">
  </div>

</article>

<script>
 var HttpClient = function() {
   this.get = function(aUrl, aCallback) {
     var anHttpRequest = new XMLHttpRequest();
     anHttpRequest.onreadystatechange = function() {
       if (anHttpRequest.readyState == 4 && anHttpRequest.status == 200)
         aCallback(anHttpRequest.responseText);
     }

     anHttpRequest.open( "GET", aUrl, true );
     anHttpRequest.send( null );
   }
 }
 var client = new HttpClient();
 client.get('/static/bml/{{page.bml_source}}',
            function(response) {
              document.getElementById("bml-target").innerHTML = bml(response);
 });
</script>
