<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <picture class="hero">
    <source media="(min-width: 40em)"
            srcset="/img/{{ page.img_name }}-100pc.jpg">
    <img src="/img/{{ page.img_name }}-50pc.jpg" alt="">
  </picture>

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="centered-wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
